<header class="header">
  <div class="menu-bar">
    <ng-container *ngFor="let item of menuItems">
      <!-- Dropdown item -->
      <div
        *ngIf="item.children?.length; else simpleItem"
        class="menu-item dropdown"
        #menuRef
        [attr.data-key]="item.key"
      >
        <span (click)="toggleMenu(item.key)"> {{ item.label }} ▾ </span>

        <div class="dropdown-menu" *ngIf="openMenuKey === item.key">
          <p
            *ngFor="let child of item.children"
            [routerLink]="child.link"
            routerLinkActive="active"
            (click)="closeAll()"
          >
            {{ child.label }}
          </p>
        </div>
      </div>

      <!-- Simple (non-dropdown) item -->
      <ng-template #simpleItem>
        <span
          *ngIf="!item.action; else actionItem"
          [routerLink]="item.link"
          routerLinkActive="active"
        >
          {{ item.label }}
        </span>
      </ng-template>

      <!-- Action item like Exit -->
      <ng-template #actionItem>
        <span (click)="onAction(item.action!)">
          {{ item.label }}
        </span>
      </ng-template>
    </ng-container>
  </div>
</header>
