<header class="header">
  <div class="menu-bar">
    <ng-container *ngFor="let item of menuItems">
      <div
        *ngIf="item.children?.length; else simpleItem"
        class="menu-item dropdown"
        #menuRef
        [attr.data-key]="item.key"
      >
        <span (click)="toggleMenu(item.key)" class="cursor-pointer">
          {{ item.label }} ▾
        </span>

        <div class="dropdown-menu" *ngIf="openMenuKey === item.key">
          <ng-container *ngFor="let child of item.children">
            <div
              *ngIf="child.children?.length; else normalChild"
              class="nested-group"
            >
              <p class="nested-header">{{ child.label }}</p>
              <div class="nested-items">
                <p
                  *ngFor="let subChild of child.children"
                  [routerLink]="subChild.link"
                  routerLinkActive="active"
                  (click)="closeAll()"
                  class="sub-link"
                >
                  {{ subChild.label }}
                </p>
              </div>
            </div>

            <ng-template #normalChild>
              <p
                [routerLink]="child.link"
                routerLinkActive="active"
                (click)="closeAll()"
              >
                {{ child.label }}
              </p>
            </ng-template>
          </ng-container>
        </div>
      </div>

      <ng-template #simpleItem>
        <span
          *ngIf="!item.action; else actionItem"
          [routerLink]="item.link"
          routerLinkActive="active"
          class="menu-link"
        >
          {{ item.label }}
        </span>
      </ng-template>

      <ng-template #actionItem>
        <span (click)="onAction(item.action!)" class="cursor-pointer">
          {{ item.label }}
        </span>
      </ng-template>
    </ng-container>
  </div>
</header>
