<div class="window no-print" [formGroup]="quotationForm">
  <div class="title-bar">
    <span>Quotation</span>
    <button class="close-btn" (click)="close()">✖</button>
  </div>

  <div class="form-container">
    <div class="main-fields">
      <div class="field-group">
        <div class="field-item">
          <label>Quotation No.</label>
          <input
            type="text"
            style="width: 80px"
            (input)="searchQuotations($event)"
            formControlName="quotationNo"
            autocomplete="off"
          />
          <div class="dropdown-list" *ngIf="filteredQuotations.length > 0">
            <div
              class="dropdown-item"
              *ngFor="let quotation of filteredQuotations"
              (click)="selectQuotation(quotation)"
            >
              {{ quotation.quotationNo }}
            </div>
          </div>
        </div>

        <div class="field-item">
          <label>Date</label>
          <input type="date" style="width: 100px" formControlName="date" />
        </div>

        <div class="field-item">
          <label>Address</label>
          <input type="text" style="width: 190px" formControlName="address" />
        </div>
      </div>

      <div class="field-group">
        <div class="field-item">
          <label>Outdoor Party</label>
          <input
            type="text"
            style="width: 280px"
            placeholder="Search Outdoor party"
            (input)="filterParty($event)"
            formControlName="outdoorParty"
          />
          <div
            *ngIf="
              quotationForm.get('outdoorParty')?.touched &&
              quotationForm.get('outdoorParty')?.invalid
            "
            class="error-msg-container"
          >
            <small>Please select a valid party name.</small>
          </div>

          <div class="dropdown-list" *ngIf="filteredCustomers.length">
            <div
              class="dropdown-item"
              *ngFor="let r of filteredCustomers"
              (click)="selectParty(r)"
            >
              {{ r.name }}
            </div>
          </div>
        </div>

        <div class="field-item">
          <label>Contact No</label>
          <input
            type="text"
            style="width: 190px"
            formControlName="contactNo"
            maxlength="10"
            (keypress)="onlyNumberKey($event)"
            placeholder="9999888777"
          />
          <div
            *ngIf="
              quotationForm.get('contactNo')?.touched &&
              quotationForm.get('contactNo')?.invalid
            "
            class="error-text"
          >
            <small>Please enter a valid 10 digit contact no.</small>
          </div>
        </div>
      </div>

      <div class="field-group">
        <div class="field-item">
          <label>Couple Name</label>
          <input
            type="text"
            style="width: 280px"
            formControlName="functionName"
          />
        </div>

        <div class="field-item">
          <label>Email</label>
          <input
            type="text"
            style="width: 190px"
            formControlName="email"
            placeholder="example@gmail.com"
          />
          <div
            *ngIf="
              quotationForm.get('email')?.touched &&
              quotationForm.get('email')?.invalid
            "
            class="error-text"
          >
            <small *ngIf="quotationForm.get('email')?.errors?.['email']"
              >Invalid email format.</small
            >
          </div>
        </div>
      </div>

      <div class="field-group">
        <div class="field-item">
          <label>Ref By</label>
          <input type="text" style="width: 280px" formControlName="refBy" />
        </div>
      </div>

      <div class="field-group">
        <div class="field-item">
          <label>Package</label>
          <input type="text" style="width: 280px" formControlName="package" />
        </div>
      </div>
    </div>

    <div class="totals-sidebar">
      <table>
        <thead>
          <tr>
            <th>Prev. No</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ quotationForm.value.quotationNo }}</td>
            <td>{{ quotationForm.value.date | date: "dd/MM/yyyy" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- ITEM ENTRY STRIP -->
  <div class="item-entry-strip" [formGroup]="entryForm">
    <div class="entry-col">
      <label>Date</label>
      <input type="date" style="width: 100px" formControlName="date" />
    </div>

    <div class="entry-col search-wrapper">
      <label>Item Name</label>
      <div class="custom-dropdown">
        <input
          type="text"
          style="width: 100%"
          formControlName="itemName"
          placeholder="Type to search item..."
          (input)="onItemType($event)"
          class="professional-input"
          autocomplete="off"
        />
        <div
            *ngIf="
              quotationForm.get('itemName')?.touched &&
              quotationForm.get('itemName')?.invalid
            "
            class="error-msg-container"
          >
            <small>Please select an Item.</small>
          </div>
        <div class="dropdown-results" *ngIf="filteredItems.length > 0">
          <div
            class="result-row"
            *ngFor="let item of filteredItems"
            (click)="selectItem(item)"
          >
            <i class="bi bi-search"></i> {{ item.item_name }}
          </div>
        </div>
      </div>
    </div>

    <div class="entry-col search-wrapper" style="flex: 1">
      <label>Product</label>
      <div class="custom-dropdown">
        <input
          type="text"
          style="width: 100%"
          formControlName="productName"
          placeholder="Search Product..."
          (input)="onProductType($event)"
          class="professional-input"
          autocomplete="off"
          [readonly]="!productsList.length"
        />
        <div class="dropdown-results" *ngIf="filteredProducts.length > 0">
          <div
            class="result-row"
            *ngFor="let p of filteredProducts"
            (click)="selectProduct(p)"
          >
            <i class="bi bi-box-seam"></i> {{ p.product_name }}
          </div>
        </div>
      </div>
    </div>

    <div class="entry-col">
      <label>Event Name</label>
      <input type="text" style="width: 180px" formControlName="event" />
    </div>

    <div class="entry-col">
      <label>Qty</label>
      <input
        type="number"
        style="width: 80px"
        formControlName="qty"
        (input)="calculateAmount()"
      />
    </div>

    <div class="entry-col">
      <label>Rate</label>
      <input
        type="number"
        style="width: 100px"
        formControlName="rate"
        (input)="calculateAmount()"
      />
    </div>

    <div class="entry-col">
      <label>Amount</label>
      <input
        type="text"
        style="width: 120px; text-align: right"
        formControlName="amount"
        readonly
      />
    </div>

    <div class="entry-col">
      <button class="btn-add" (click)="addItem()">+</button>
    </div>

    <div class="entry-col">
      <button class="btn-cancel" (click)="clearItem()">x</button>
    </div>
  </div>

  <!-- ITEMS TABLE -->

  <div
    class="d-flex"
    style="align-items: flex-start; background: #d8eaf3; padding-bottom: 10px"
  >
    <div class="table-section flex-grow-1" style="margin-right: 0">
      <table>
        <thead>
          <tr>
            <th width="80">Date</th>
            <th>Item Name</th>
            <th>Product</th>
            <th>Event</th>
            <th width="60">Qty</th>
            <th width="90">Rate</th>
            <th width="100">Total</th>
          </tr>
        </thead>

        <tbody formArrayName="items">
          <tr
            *ngFor="let item of items.value; let i = index"
            [formGroupName]="i"
          >
            <td>{{ item.date }}</td>
            <td>{{ item.itemName }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.event }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.rate }}</td>
            <td>{{ item.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- TOTAL SECTION -->

    <div
      class="footer-summary"
      style="background: transparent; border: none; padding-top: 0"
    >
      <div class="summary-box">
        <div class="summary-row">
          <label>Sub Total</label>
          <input
            type="text"
            formControlName="subTotal"
            style="background-color: #eae6e6"
            readonly
          />
        </div>

        <div class="summary-row">
          <label>Discount</label>
          <input
            type="number"
            formControlName="discount"
            (input)="calculateGrandTotal()"
          />
        </div>

        <div class="tax-group" *ngIf="gstConfig">
          <ng-container *ngIf="gstConfig.isLocal">
            <div class="summary-row tax-row">
              <label>CGST (%)</label>
              <div class="tax-inputs">
                <input
                  type="number"
                  formControlName="cgstPerc"
                  readonly
                  class="tax-perc"
                />
                <input
                  type="text"
                  formControlName="cgstAmt"
                  readonly
                  class="tax-amt"
                />
              </div>
            </div>

            <div class="summary-row tax-row">
              <label>SGST (%)</label>
              <div class="tax-inputs">
                <input
                  type="number"
                  formControlName="sgstPerc"
                  readonly
                  class="tax-perc"
                />
                <input
                  type="text"
                  formControlName="sgstAmt"
                  readonly
                  class="tax-amt"
                />
              </div>
            </div>
          </ng-container>

          <div class="summary-row tax-row" *ngIf="gstConfig.isInterstate">
            <label>IGST (%)</label>
            <div class="tax-inputs">
              <input
                type="number"
                formControlName="igstPerc"
                readonly
                class="tax-perc"
              />
              <input
                type="text"
                formControlName="igstAmt"
                readonly
                class="tax-amt"
              />
            </div>
          </div>
        </div>
        <div class="summary-row grand-total-highlight">
          <label>NET TOTAL</label>
          <input
            type="text"
            formControlName="grandTotal"
            style="font-weight: bold; color: #c53030"
            readonly
          />
        </div>
      </div>
    </div>
  </div>

  <div class="action-bar">
    <button class="btn btn-save" (click)="onSubmit()">Save</button>
    <button class="btn btn-exit">Delete</button>
    <button
      class="btn"
      [disabled]="!quotationData"
      (click)="printQuotation(true, true)"
    >
      Print with Rate & Dis
    </button>
    <button
      class="btn"
      [disabled]="!quotationData"
      (click)="printQuotation(false, true)"
    >
      Print without
    </button>
    <button
      class="btn"
      [disabled]="!quotationData"
      (click)="printQuotation(true, false)"
    >
      Print with Rate without Dis
    </button>
    <button
      class="btn"
      [disabled]="!quotationData"
      (click)="printQuotation(false, false)"
    >
      Print without Rate without Dis
    </button>
    <button class="btn" (click)="clearAll()">Cancel</button>
    <button class="btn btn-exit" (click)="close()">Exit</button>
    <button class="btn btn-social">Send SMS</button>
    <button class="btn btn-social">Send WhatsApp</button>
    <button class="btn btn-social">Send Email</button>
  </div>
</div>

<div *ngIf="showPopup" class="toast-overlay" [class.error-toast]="isError">
  <div class="toast-content">
    <span class="icon">{{ isError ? "⚠️" : "✅" }}</span>
    <span class="message">{{ popupMessage }}</span>
  </div>
</div>
<div class="print-area" *ngIf="quotationData">
  <app-quotationprint
    [data]="quotationData"
    [showRate]="showRate"
    [showDiscount]="showDiscount"
    [terms]="savedTermsFromMaster"
  >
  </app-quotationprint>
</div>
